[Unit]
Description=Tor IP & MAC auto changer
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/ip-changer.sh
Restart=always

[Install]
WantedBy=multi-user.target